<section class="blog-display">
    {{!-- when a blog post is click, if the user is logged in, it brings them to the post in the channel. If not logged in, it prompts them to login --}}
    {{!-- {{#if logged_in}}
    <a href="/channel">
    {{else}}
    <a href="/login">
    {{/if}} --}}
    <a href="/channel">
        <div class="blog-div">
            <div class="blog-info">
                <h2 class='blog-title'>{{channel.title}}Channel Name Here...</h2>
                <h3>{{blog_text}}</h3>
                <p>Post By: {{user.username}}</p>
            </div>
            <div class="comment-likes">
                <p>comments</p>
                <p>likes</p>
            </div>
        </div>
    </a>
    
</section>