<section class="blog-display">
    <a href="/blog/{{id}}">
        <div class="blog-div">
            <div class="blog-info">
                <h2 class='blog-title'> written by: {{user.username}} ({{user.name}})</h2>
                <h3>{{blog_text}}</h3>
            </div>
            <div class="comment-likes">
                <p>comments</p>
                <p>likes</p>
            </div>
        </div>
    </a>
    
</section>