<section class="blog-display">
    <div class="comment-div">
        <h3 class="comment-header">Comments</h3>
        <div class="blog-info">
            <h3 class="each-comment">{{comment_text}}</h3>

            <div class="comment-form">
            <form>
                <label for="add a comment">What do you think?</label>
                <textarea id="new-comment" name="new-comment" rows="5" cols="60"></textarea>
                <input id="add-comment-btn" class="comment-button" type="submit" value="Add Comment">
            </form>
            </div>
            {{!-- <h3 id="add-comment-btn" class="comment-button">Add Comment</h3> --}}
        </div>
    </div>
</section>