<section class="blog-display">
        <div class="blog-div">
            <h3>Comments</h3>
            <div class="blog-info">
                <h3>{{comment_text}}</h3>
            </div>
        </div>
</section>