<section class="blog-display">
    <div class="comment-div">
        <h3 class="comment-header">Comments</h3>
        <div class="blog-info">
            <h3 class="each-comment">{{comment_text}}</h3>

            {{!-- <h3 id="add-comment-btn" class="comment-button">Add Comment</h3> --}}
        </div>
    </div>
</section>