<section class="container">
  <h3 class="gallery-name">{{channel.name}}</h3>
  <section class="flex-row justify-center">
    {{#each channel.blog as |blog|}}
    {{> blog-details}}
    {{/each}}
  </section>
</section>