{{!-- <section class="container">
  <h3 class="gallery-name">{{channel.name}}</h3>
  <section class="flex-row justify-center">
    {{#each channel.blog as |blog|}}
    {{> blog-details}}
    {{/each}}
  </section>
</section> --}}


<h2>{{channel.title}}</h2>
<p>{{channel.content}}</p>
<div>
  {{#each channel.blogs as |blog|}}
  {{> channel-details}}
  {{/each}}
</div>

<div class='new-channel-create'>
        <p class='blog-prompt'>Want to add to the conversation?</p>
        <a id="create-blog" class=" nav-btn">Click Here</a>
    </div>