!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TiddeR</title>
    <link rel="stylesheet" href="public\js\style\style.css">
</head>
<body>
    <div class="header">
    <header>
        <h1 class = ><img src="public\js\style\5b0b1ea3f3e141508f73f59dc985a637.png" ></img></title></h1>
        <nav class="links">
            <ul class="textC">
                <li>
                    <a href="Home">Home</a>
                </li>
                <li>
                    <a href="Channels">Channels</a>
                </li>
            </ul>
        </nav>
    </header>
</div class = "topBorder">
<section class = "fields">
    <div class ="forms">
        <form class="form login-form">
        <div class="form-group">
            <label for="email-login">Username:</label>
            <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
            <label for="password-login">Password :</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
            <button id= "button" class="btn-primary" type="submit">Login!</button>
        </div>
        </form>
    </div>
</section>
</div>
    <footer></footer>
</body>
</html>