body {
    color:rgb(124, 9, 99);
    background-color:rgb(148, 177, 165);
    border-style: double;
    height: 98%;
  }
  
  header {
    height: 210px;
    border-style: double;
  }
  .links {
    margin-top: -250px;
    margin-right: 8px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color:rgb(124, 9, 99);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .hero {
    margin-bottom: 10px;
    float: top;
  }
  
  .topBorder{
    display: inline-block;
    font-size: 48px;
    color: crimson;
    border-style: solid;
    width:100%;
  
  }
  
   nav {
    flex-wrap: nowrap;
    flex-direction: row;
    float: right;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
    color: crimson;
  }
  
  .header nav ul li {
    display: inline-block;
    margin-left: 45px;
    margin-right: 10px;
    padding-top: 15px;
    margin-right: 20px;
  }
  
  section {
      margin-top: 200px;
      margin-bottom: 200px;
      border-style:solid;
  }
  
  .forms {
    margin-left: 40%;
    margin-right: 40%;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-style: oblique;
    text-decoration: solid;
  }
  
  aside {
    position: absolute;
    float: right;
    border-style: solid;
  }
  footer {
    position:sticky;
    float: bottom;
    height: 30px;
    border-style: solid;
  }
  #loginBtn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color:rgb(124, 9, 99);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 100px;
    padding-top: -5px;
    margin-top: 5px;
    
  }
  
  #loginBtn:hover {
    background-color: rgb(124, 9, 99);
    color: white;
  }
  
  #loginBtn:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #signUpBtn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    
    outline: none;
    color:rgb(124, 9, 99);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 100px;
    padding-top: -5px;
    margin-top: 5px;
    
  }
  
  #signUpBtn:hover {
    background-color: rgb(124, 9, 99);
    color: white;
  }
  
  #signUpBtn:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .login-card {
   margin-left: 40%;
   margin-top: 80px;
   margin-bottom: 15px;
   font-size: xx-large;
  }

  .signup-card {
    margin-left: 40%;
    margin-top: 80px;
    margin-bottom: 15px;
    font-size: xx-large;
   }
  .mainCards {
    margin-top: -15px;
  }
  .forms login-form{
    font-size: xx-large;
  }

  img.logo{
    margin-bottom: 25px;
  }

  .container{
    margin-top: 10px;
  }